.background {
	width:100%;
	height:370px;
	background-color: #eef3f5;
	padding-top:5px;

}

.header {
  width: 1080px;
  height: auto;
  margin: 0 auto;
  background: #a7e0ee;
}

.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 5px;
  text-transform: uppercase;
  float: right;
  text-decoration: none;
}

.nav li {
  display: inline;

}


.navigationbar {

  height:40px;
  background: #a7e0ee;

}



.navigationbar ul {

  position: relative;
  margin: 0;
  padding: 0;

}

.navigationbar ul li {
  list-style: none;
}

.navigationbar ul a {
  text-decoration: none;
  display: block;
  position: relative;
  float: left;
  right:-25%;
  padding: 10px 20px;
  color: black;
  font-family: Trebuchet, sans-serif;

}

.container
{
    width: 1060px;
    height: auto;
    margin: 0 auto;
    padding-top: 10px;
    background-color: green; 
    
}

.logo
{
    background-color: green;
    width: 100%;
    
}

.colour{
    background-color: green;
    padding-bottom: 10px;
}

.mainform
{
    width: 100%;
    padding-left: 50px;
    float: left;
    padding-top: 5px;
    padding-bottom: 1px;
}


input
{
    margin-right: 10px;
    width: 60%;
    color: #848482;
    border-style: solid;
    border-color: #E5E4E2;
}
